@import "tailwindcss";

:root {
  --background: #050505;
  --panel: #0f0f11;
  --border: #1f1f22;
  --text-main: #ededed;
  --text-muted: #a1a1aa;
}

body {
  background-color: var(--background);
  color: var(--text-main);
  background-image: radial-gradient(circle at 50% 0%, #1e1b4b 0%, transparent 50%);
  background-repeat: no-repeat;
}